.footer {
    background-color: dark-gray;
    color: white;
    padding: 40px 0;
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
    
    .social-links {
      display: flex;
      gap: 20px;
      
      a {
        color: white;
        opacity: 0.8;
        
        &:hover {
          opacity: 1;
          color:primary-color;
        }
      }
    }
    
    .contact-info {
      p {
        margin-bottom: 5px;
      }
    }
  }